html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    font-family:Georgia, serif;
}

.cover-bg{
    position:fixed;
    inset:0;
    background-image:url("/static/PAGEDECOUVERTURE.lux.site.jpeg");
    background-size:100% 100%;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
}

.cover-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.12);
    z-index:1;
}

.home-buttons{
    position:fixed;
    left:50%;
    bottom:70px;
    transform:translateX(-50%);
    z-index:5;
    display:flex;
    gap:28px;
}

.lux-button{
    min-width:210px;
    text-align:center;
    padding:16px 34px;
    border-radius:24px;
    text-decoration:none;
    font-size:20px;
    font-weight:900;
    color:#120800;
    background:linear-gradient(145deg,#fff2a8,#d4af37 45%,#7b4a00);
    border:2px solid #fff0a8;
    box-shadow:
        0 0 22px rgba(212,175,55,.8),
        inset 0 0 14px rgba(255,255,255,.45);
    transition:.25s;
}

.lux-button:hover{
    transform:translateY(-4px) scale(1.05);
    box-shadow:
        0 0 35px rgba(212,175,55,1),
        0 0 60px rgba(212,175,55,.6);
}

@media(max-width:800px){
    .home-buttons{
        flex-direction:column;
        bottom:45px;
        gap:16px;
    }

    .lux-button{
        min-width:230px;
        font-size:18px;
    }
}
